DataDC/
DataDC/*.*
DataDC/*
DataIP/
DataIP/*.*
DataIP/*
DataSP/
DataSP/*.*
DataSP/*
JSON/
JSON/*
JSON/*.json
DataTestADC/
DataTestADC/*
DataTestADC/*.*
DataTestEl/
DataTestEl/*
DataTestEl/*.*
Log.txt
bin/BasicSetting.json
local/
local/*.*
local/*
Log*
*.o
*.mat

